<div class="app-header header-shadow">
      <div class="app-header__logo">
          <div class="logo-src"></div>
          <div class="header__pane ml-auto">
          </div>
      </div>
      <nav class="navbar navbar-expand-lg navbar-light bg-light nav-bar-width">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
              <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                  <li *ngIf="['ADMIN'].includes(user.user_type)" class="nav-item">
                        <a routerLink="/" class="nav-link"><i class="nav-link-icon pe-7s-home"></i> Dashboard </a>
                    </li>
                  <li class="nav-item">
                      <a routerLink="/purchase" class="nav-link"><i class="nav-link-icon fa fa-database"> </i> Purchase </a>
                  </li>
                  <li *ngIf="['ADMIN','PHARMACYCOUNTER'].includes(user.user_type)" class="nav-item">
                      <a routerLink="/sale" class="nav-link"><i class="nav-link-icon fa fa-cart-plus"></i> Sale </a>
                  </li>
                  <li *ngIf="getAcl('sale-due')" class="nav-item">
                      <a routerLink="/sale-due" class="nav-link"><i class="nav-link-icon fa fa-bug"></i> Sale Due </a>
                  </li>
                  <li class="nav-item">
                      <a href="#" class="nav-link"><i class="nav-link-icon fa fa-cog"></i> Report </a>
                  </li>
                  <li class="nav-item">
                      <a (click)="logout()"  class="nav-link"><i class="nav-link-icon pe-7s-power"></i> Logout </a>
                  </li>
              </ul>
              <div class="page-title-actions">
                <div class="d-inline-block dropdown">
                   <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn-shadow dropdown-toggle btn btn-info">
                   <span class="btn-icon-wrapper pr-2 opacity-7">
                   <i class="fa fa-bell fa-w-20"></i>
                   </span>
                   </button>
                   <div tabindex="-1" role="menu" aria-hidden="true" class="dropdown-menu dropdown-menu-right">
                      <ul class="nav flex-column">
                         <li class="nav-item">
                            <a href="javascript:void(0);" class="nav-link">
                               <i class="nav-link-icon lnr-inbox"></i>
                               <span>
                               Inbox
                               </span>
                               <div class="ml-auto badge badge-pill badge-secondary">86</div>
                            </a>
                         </li>
                         <li class="nav-item">
                            <a href="javascript:void(0);" class="nav-link">
                               <i class="nav-link-icon lnr-book"></i>
                               <span>
                               Book
                               </span>
                               <div class="ml-auto badge badge-pill badge-danger">5</div>
                            </a>
                         </li>
                         <li class="nav-item">
                            <a href="javascript:void(0);" class="nav-link">
                            <i class="nav-link-icon lnr-picture"></i>
                            <span>
                            Picture
                            </span>
                            </a>
                         </li>
                         <li class="nav-item">
                            <a disabled href="javascript:void(0);" class="nav-link disabled">
                            <i class="nav-link-icon lnr-file-empty"></i>
                            <span>
                            File Disabled
                            </span>
                            </a>
                         </li>
                      </ul>
                   </div>
                </div>
             </div>
             <ul class="navbar-nav mr-auto user-account-ul">
              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Admin
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" (click)="logout()">Logout</a>
                  </div>
              </li>
          </ul>
          </div>
      </nav>
  </div>
