<div class="app-page-title">
   <div class="page-title-wrapper">
      <div class="page-title-heading">
         <div class="page-title-icon">
            <i class="pe-7s-monitor icon-gradient bg-mean-fruit">
            </i>
         </div>
         <div>
          Smart Pharmacy ERP
          <small>
            <i class="ace-icon fa fa-angle-double-right"></i>
            Dashboard
        </small>

         </div>
      </div>
   </div>
</div>
<div class="row">
   <div class="col-md-6 col-xl-3">
      <div class="card mb-3 widget-content bg-midnight-bloom">
         <div class="widget-content-wrapper text-white">
            <div class="widget-content-left">
               <div class="widget-heading">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ summary.total_order }}</div>
               <div class="widget-subheading">Total Purchase</div>
            </div>
            <div class="widget-content-right">
               <div class="widget-numbers text-white"><span></span></div>
            </div>
         </div>
      </div>
   </div>
   <div class="col-md-6 col-xl-3">
      <div class="card mb-3 widget-content bg-arielle-smile">
         <div class="widget-content-wrapper text-white">
            <div class="widget-content-left">
               <div class="widget-heading">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ summary.total_sale }}</div>
               <div class="widget-subheading">Total Sale</div>
            </div>
            <div class="widget-content-right">
               <div class="widget-numbers text-white"><span></span></div>
            </div>
         </div>
      </div>
   </div>
   <div class="col-md-6 col-xl-3">
      <div class="card mb-3 widget-content bg-grow-early">
         <div class="widget-content-wrapper text-white">
            <div class="widget-content-left">
               <div class="widget-heading">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ summary.total_medicine }}</div>
               <div class="widget-subheading">Total Medicine</div>
            </div>
            <div class="widget-content-right">
               <div class="widget-numbers text-white"><span></span></div>
            </div>
         </div>
      </div>
   </div>
   <div class="col-md-6 col-xl-3">
      <div class="card mb-3 widget-content bg-night-fade">
         <div class="widget-content-wrapper text-white">
            <div class="widget-content-left">
               <div class="widget-heading">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ summary.total_customer }}</div>
               <div class="widget-subheading">Total Customer</div>
            </div>
            <div class="widget-content-right">
               <div class="widget-numbers text-white"><span></span></div>
            </div>
         </div>
      </div>
   </div>
</div>
<div class="row">
   <div class="col-md-12 col-lg-6">
      <div class="mb-3 card">
         <div class="card-header-tab card-header-tab-animation card-header">
            <div class="card-header-title">
               <i class="header-icon lnr-apartment icon-gradient bg-love-kiss"> </i>
               Purchase Chart
            </div>
         </div>
         <div class="card-body">
            <div class="tab-content">
               <div class="tab-pane fade show active" id="tabs-eg-77">
                  <div class="card mb-3 widget-chart widget-chart2 text-left w-100">
                     <div class="widget-chat-wrapper-outer">
                        <div class="widget-chart-wrapper widget-chart-wrapper-lg opacity-10 m-0">
                          <div [chart]="order"></div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="col-md-12 col-lg-6">
    <div class="mb-3 card">
       <div class="card-header-tab card-header-tab-animation card-header">
          <div class="card-header-title">
             <i class="header-icon lnr-apartment icon-gradient bg-love-kiss"> </i>
             Sale Chart
          </div>
       </div>
       <div class="card-body">
          <div class="tab-content">
             <div class="tab-pane fade show active" id="tabs-eg-77">
                <div class="card mb-3 widget-chart widget-chart2 text-left w-100">
                   <div class="widget-chat-wrapper-outer">
                      <div class="widget-chart-wrapper widget-chart-wrapper-lg opacity-10 m-0">
                        <div [chart]="sale"></div>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>
</div>
